#########################################
##### JetBrains IDE project setting #####
#########################################

**/.idea


###############################
##### Comment image files #####
###############################

/static/comment-images/*
!/static/comment-images/chun_sik.png


###############################
#### Profile picture files ####
###############################

/static/profile_pics/**
!/static/profile_pics/profile_placeholder.png


#################################
##### JWT encode&decode key #####
#################################

/secrets.json
