#########################################
##### JetBrains IDE project setting #####
#########################################

**/.idea


###############################
##### Comment image files #####
###############################

/static/comment-images/*


#################################
##### JWT encode&decode key #####
#################################

/secrets.json
