#comment-box {
    margin-top: 30px;
}

.comment-img-upload-box {
    margin-top: 20px;
    margin-bottom: 20px;
}

.comment-profile {
    margin-top: 10px;
}

.comment-profile > div {
    margin-top: 5px;
}

.comment-textarea {
    height: 150px;
}

.comment-delete-btn, .comment-update-btn {
    margin-top: 15px;

    /* 버튼 테두리 제거 */
    padding: 0;
    border: none;
    background: none;
    text-decoration:underline;
    display:inline-block;
    color: lightgray;
}

.comment-delete-btn:hover {
    color: lightcoral;
    cursor:pointer;
}

.comment-update-btn:hover {
    color: black;
    cursor:pointer;
}

/* 버튼 클릭시 생성되는 테두리 제거 */
.comment-delete-btn:focus, .comment-update-btn{
    text-decoration:underline;
    display:inline-block;
    outline:none !important;
}

.comment-content {
    word-wrap: break-word;
}

#comment-list {
    margin-bottom: 20px;
}

#comment-list > div {
    margin-top: 10px;
    margin-bottom: 10px;
}