.banner {
    font-size: 70px;
    background-color: #E68A7B;
    text-align: center;
    width: 100%;
    height: 180px;
    margin: 30px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-wrap {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.user-info {
    padding-top: 60px;
    height: auto;
    flex-direction: row;
    display: flex;
    align-items: flex-start;
}

.thumbnail-area {
    align-items: center;
    padding-bottom: 1.5rem;
    padding-right: 0px;
    display: flex;
    flex-direction: column;
    box-sizing: inherit;
}

.thumbnail-area img {
    object-fit: cover;
    width: 12rem;
    height: 12rem;
}

.img-button {
    text-align: center;
    width: 12rem;
    margin-top: 10px;


}

.info-area {
    width: 100%;
    height: 100%;
    padding: 1.5rem;

}

.main-name {
    flex-direction: row;
    display: flex;
    align-items: flex-end;
}

.main-name > a {
    width: 50px;
}

.main-intro {
    flex-direction: row;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

.warning {
    font-size: 8px;
    color: red;
}

.is-hidden {
    display: none;
}

.width-btn {
    width: 150px;
    text-align: center;
}

.recipe-liked-mypage-list {
    margin : auto;
}

.alert-no-liked-in-my-page {
    font-size:x-large;
    display: block;
    margin: 50px auto auto auto;
    text-align: center;
}